.sidebar-container{
    height: 100vh;
    min-width: 320px;
}

.no-bullet-list{
    list-style: none;
    padding-left: 1rem;
}

.link-sidebar{
    color: white !important;
    text-decoration: none !important;
    font-size: 18px;
    background: none;
	border: none;
	padding: 0;
}

li{
    padding: 5px 0px 5px 0px;
}